@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;700&family=Raleway:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}


body{
    background: url(assets/milad-fakurian-nY14Fs8pxT8-unsplash.jpg) center fixed;
    background-size:cover;
    font-family: 'Barlow', sans-serif;
}

a{
    width: fit-content;
    text-decoration: none;
    color:initial;
}

.header-nav-icono-nombre{
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.icono-nombre-header{
    width: 15px;
    height: 15px;
}

.header-nav{
    display: flex;
    box-shadow: black 0px -10px 32px;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem;
}

.nav-nombre{
    cursor: pointer;
    color: #d5c5c5;
}

.panel-navegacion{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 500;
    gap: 2rem;
}

.panel-navegacion-home {
    cursor: pointer;
    color:#4c56b3;
}

.panel-navegacion-work, .panel-navegacion-about{
    color:#d5c5c5
}

.presentacion{
    display: grid;
    place-content: center;
    width: 100%;
    height: 53rem;
    color: #e3e3e3;
    font-size: 30px;
}
.presentacion-texto-saludo{
    width: fit-content;
    position: relative;
    margin: 0;
}

.presentacion-texto-nombre{
    width: fit-content;
    position: relative;
    font-weight: 500;
    font-size: 150px;
    margin: 0;
}

.presentacion-texto-soy{
    display: flex;
    position: relative;
    margin: 0;
    justify-content: flex-end;
}

.sub-presentacion{
    box-shadow: #5b1e93 0px 10px 100px;
    width: inherit;
    height: max-content;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    color: white;
    background-color: #000000cc;
    padding: 5rem;
    justify-items: center;
    align-items: center;
}

.sub-presentacion-texto{
    font-size: 24px;
    height: max-content;
    color: #cdc1ab;
}

.foto-perfil{
    width: 230px;
    height: 230px;
    border-radius: 15px;
    object-fit: cover;
}

.contenedor-iconos{
    display: flex;
    width: 40rem;
    grid-column: 1/4;
    justify-content: space-evenly;
}

.iconos-tecnologias{
    width: 70px;
    height: 70px;
}

.proyectos{
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #000000cc;
    padding: 5rem 0rem 20rem 0rem;
    color: #cdc1ab;
    gap: 15rem;
}

.proyectos-titulo{
    text-align: center;
    font-size: 70px;
}

.proyectos-flecha-abajo{
    width: 2rem;
}

.contenedor-titulo-proyecto{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.screen-proyecto{
    opacity: 90%;
    width: 500px;
    height: 300px;
    object-fit:cover;
    object-position: center;
    border: #575656 solid 1px;
}

.screen-proyecto:hover{
    opacity: 70%;
    border: #999999 solid 1px;
    transition: ease-in-out .3s;
}

.contenedor-titulo-descripcion-proyecto{
    display: flex;
    height: fit-content;
    width: 512px;
    flex-direction: column;
}

.descripcion-proyecto{
    font-size: 20px;
}

footer{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem 0rem 2rem;
    background-color: #ffffff5c;
}

.nombre-footer{
    font-weight: 500;
    color: #000000;
}

.iconos-redes-sociales{
    margin: 3px;
    background-color: #ffffff7d;
    border-radius: 300px;
    border: solid #ffffff7d 1px;
    width: 24px;
}

.iconos-redes-sociales:hover{
    background-color: #ffffff;
    transition: all ease .3s;
}


@media (width <= 768px){
    .presentacion-texto-nombre{
        font-size: 100px;
        text-align: center;
    }

    .presentacion{
        justify-items: center;
    }

    .sub-presentacion{
        display: flex;
        flex-direction: column;
    }

    .contenedor-titulo-proyecto{
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    
    .app-clima{
        flex-direction: column-reverse;
        text-align: center;
    }

}

@media (width <= 480px){
    .header-nav{
        justify-content: center;
        height: 5rem;
        padding: 0;
    }

    .icono-nombre-header, .nav-nombre{
        display: none;
    }

    .panel-navegacion{
        text-align: center;
        align-items: center;
    }

    .presentacion{
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: 4rem 0rem 11rem 0rem;
        align-items: center;
    }

    .presentacion-texto-soy{
        font-size: 25px;
    }

    .sub-presentacion{
        padding: 1rem;
    }

    .foto-perfil{
        width: 200px;
        height: 200px;
    }

    .contenedor-iconos{
        width: 100%;
    }

    .iconos-tecnologias{
        width: 60px;
        height: 60px;
    }

    .contenedor-titulo-descripcion-proyecto{
        width: 100%;
    }

    .screen-proyecto{
        width: 90%;
    }

    footer{
        align-items: center;
        flex-direction: column;
        padding: 1rem 0rem 1rem 0rem;
    }

    .iconos-redes-sociales{
        width: 30px;
    }
}