@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;700&family=Raleway:wght@300;400;700&display=swap');

*{
    height: 100%;
    width: inherit;
}

body{
    background-image: url(assets/milad-fakurian-nY14Fs8pxT8-unsplash.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-color: #010421;
}

a{
    text-decoration: none;
    color:initial;
}

.nav-icono-nombre{
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.icono-nombre{
    width: 15px;
    height: 15px;
}

.nav{
    display: flex;
    height: 5rem;
    align-items: baseline;
    justify-content: space-between;
    margin: 0rem 3rem 0rem 3rem;
}

.nav-nombre{
    cursor: pointer;
    color: #d5c5c5;
}

.panel-navegacion{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 500;
    gap: 2rem;
}

.panel-navegacion-home {
    cursor: pointer;
    color:#4c56b3;
}

.panel-navegacion-work, .panel-navegacion-about{
    color:#d5c5c5
}

.presentacion{
    display: grid;
    place-content: center;
    width: 100%;
}
.presentacion-texto{
    position: relative;
    color: #e3e3e3;
    font-weight: 900;
    font-size: 100px;
    margin: 0;
    width: fit-content;
}

.sub-presentacion{
    height: 35rem;
    display: flex;
    align-items: center;
    gap: 4rem;
    color: white;
    background-color: #000000cc;
    padding: 0rem 3rem 0rem 3rem;
}

.sub-presentacion-texto{
    font-size: 2rem;
    height: max-content;
}

.foto-perfil{
    width: 300px;
    height: 300px;
    border-radius: 250px;
    object-fit: cover;
}