@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;700&family=Raleway:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}


body{
    background-image: url(assets/milad-fakurian-nY14Fs8pxT8-unsplash.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-color: #010421;
}

a{
    width: fit-content;
    text-decoration: none;
    color:initial;
}

.nav-icono-nombre{
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.icono-nombre{
    width: 15px;
    height: 15px;
}

.nav{
    display: flex;
    box-shadow: black 0px -10px 32px;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem;
}

.nav-nombre{
    cursor: pointer;
    color: #d5c5c5;
}

.panel-navegacion{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 500;
    gap: 2rem;
}

.panel-navegacion-home {
    cursor: pointer;
    color:#4c56b3;
}

.panel-navegacion-work, .panel-navegacion-about{
    color:#d5c5c5
}

.presentacion{
    display: grid;
    place-content: center;
    width: 100%;
    height: 53rem;
}
.presentacion-texto-1{
    position: relative;
    color: #e3e3e3;
    font-size: 40px;
    margin: 0;
    width: fit-content;
}

.presentacion-texto-2{
    position: relative;
    color: #e3e3e3;
    font-weight: 500;
    font-size: 150px;
    margin: 0;
    width: fit-content;
}

.presentacion-texto-3{
    display: flex;
    position: relative;
    color: #e3e3e3;
    font-size: 30px;
    margin: 0;
    justify-content: flex-end;
}

.sub-presentacion{
    box-shadow: #5b1e93 0px 10px 100px;
    width: inherit;
    height: max-content;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    color: white;
    background-color: #000000cc;
    padding: 5rem;
    justify-items: center;
    align-items: center;
}

.sub-presentacion-texto{
    font-size: 24px;
    height: max-content;
}

.foto-perfil{
    width: 300px;
    height: 300px;
    border-radius: 250px;
    object-fit: cover;
}

.contenedor-iconos{
    display: flex;
    width: 40rem;
    grid-column: 1/4;
    justify-content: space-evenly;
}

.iconos-tecnologias{
    width: 120px;
    height: 120px;
}

.proyectos{
    box-shadow: black 1px 1px 1px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #000000cc;
    padding: 4rem 0rem 0rem 0rem;
    color: white;
    gap: 15rem;
}

.card{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.screen-proyecto{
    opacity: 90%;
    width: 500px;
    height: 300px;
    object-fit:cover;
    object-position: center;
    border: #575656 solid 1px;
}

.screen-proyecto:hover{
    opacity: 70%;
    border: #999999 solid 1px;
    transition: ease-in-out .3s;
}

.contenedor-titulo-descripcion-proyecto{
    display: flex;
    height: fit-content;
    width: 512px;
    flex-direction: column;
}

.descripcion-proyecto{
    font-size: 20px;
}